# Idea Project
.idea

# EA Scripts
EA/*
!/EA/*.md

# Libraries
#Libraries/S4CL/**/*
#Libraries/S4CL/*.py
!Libraries/S4CL/*.md

# Additional non mod related items
Scripts/randomizer
Scripts/TheBin

# Logs
compilelog.txt
decompilelog.txt

# Temp Compiled Files
__pycache__
*/__pycache__
Utilities/*.pyc

# Compiled Files
*.pyo
*.pyc
**/*.pyo
**/*.pyc
*/*.pyc
*/*.pyo
custom_scripts_for_decompile/*.py
custom_scripts_for_decompile/*.pyc
custom_scripts_for_decompile/*.pyo
custom_scripts_for_decompile/**/*.pyc
custom_scripts_for_decompile/**/*.pyo
custom_scripts_for_decompile/**/*.py

# Release
**/*.7z
**/*.zip
**/Release/*.7z
**/Release/*.zip
**/*.ts4script

# Misc
**/*.lnk
**/*.xml___jb_old___
Tunings/Temp
# Project exclude paths
/Release/**/*

# MacOS Specific Files

.DS_Store